section.start(:style="gradient")
  .center-vertically
    h1.typo__h1
      img.logo(src=require('assets/vue-logo.png'))
      | Vue-Vega
      small.version
        =`(${require('../../package.json').version})`
    h3.typo__h3
        =`${require('../../package.json').description}`
    .badges
      // TODO: in 'Embed Badges to docs #14'
    .grid__row.grid__row--centered
      .grid__column.grid__unit--md-6
        .vuevega-example__container
          // TODO: in 'Image Preview for Examples on Start of Docs Page #15'
          .grid__row.start__list
            .grid__column.grid__unit--md-6.list
              ul.list__ul
                li.typo__li Vega-lite support from 2.0.0
                li.typo__li Sync Data
                li.typo__li Control Encoding from Parent
                li.typo__li Control Data from Parent
                li.typo__li Vuex support by default
            .grid__column.grid__unit--md-6.list
              ul.list__ul
                li.typo__li Layering
                li.typo__li Faceting
                li.typo__li Composition
                li.typo__li Interactivity
                li.typo__li +99% test coverage

    .grid__row.grid__row--centered
      .grid__column.utils--center
        a.button.button--large.button--secondary.button--github(href="https://github.com/nesterone/vue-vega" target="_BLANK") View on GitHub
        a.button.button--large.button--info(href="https://jsfiddle.net/NesterOne/syvk7e04") JSFiddle
        a.button.button--large(href="#sub-getting-started") Getting started & examples
