+section('API')
  p.typo__p
    | There are next functions and objects present in <em>vue-vega</em>:
    ul
      li <kbd>install</kbd> -  <em>vue-vega`s</em> main module is a <a href='https://vuejs.org/v2/guide/plugins.html'>Vue plugin</a>
      li <kbd>VegaLiteComponent</kbd> - vue component wrapper  around <em>vega-lite</em>
      li <kbd>mapVegaLiteSpec</kbd> - factory function to create <kbd>VegaLiteComponent</kbd> from vega-lite spec
  include ./_plugin
  include ./_vega-lite-component
  include ./_map-vega-lite-spec.pug

  //include ./_util
