+subsection('mapVegaLiteSpec')
  p.typo__p
    |  Map vega lite specification object to vue component object definition
  .table__container
    table.table.table--full-size.table--fixed
      thead
        tr.table__tr
        th.table__th(width="160") Name
        th.table__th(width="160") Arguments
        th.table__th Description
      tbody
        tr.table__tr
          td.table__td: kbd mapVegaLiteSpec
          td.table__td
            | VegaLiteSpec
          td.table__td
            | Returns Vue component object definition
