+subsection('install')
  p.typo__p
    |  Register <em>VegaLiteComponent</em> under 'vega-lite' name, so you can use
    | `vega-lite` tag in your Vue templates
  .table__container
    table.table.table--full-size.table--fixed
      thead
        tr.table__tr
        th.table__th(width="160") Name
        th.table__th(width="160") Arguments
        th.table__th Description
      tbody
        tr.table__tr
          td.table__td: kbd install
          td.table__td
            | Vue
          td.table__td
            | Register <em>VegaLiteComponent</em> under 'vega-lite' name
