+section('Examples')
  +subsection('Bar Chart as Component')
    :markdown-it
      The basic usage is to add visualization as component

    +example('BarChartAsComponent')
  +subsection('Bar Chart as Tag')
    :markdown-it
      To leveratge components composition we provide `<vega-lite/>`
      component which you can use directly in your template, also we use props and data from your
      component as defaults for any `vega-lite` component in your template

    //+example('BarChartAsTag')
