+section('Examples')
  +subsection('Component as Vega Lite Spec')
    :markdown-it
      Use vega lite properties as custom options for Vue component,
      no need to wire them with Vue props. For the sake of example it's in one file, you
      probably would keep spec-like components in separate modules

    +example('ComponentAsVegaLiteSpecExample')
  +subsection('Vega Lite Component')
    :markdown-it
      To leveratge components composition we provide `<vega-lite/>`, so you can pass
       any spec aspect of vega lite spec as Vue property

    +example('VegaLiteComponentExample')
