h2.typo__h2#sub-plugin(data-section) Plugin
.grid__row
  .table__container
    table.table.table--full-size.table--fixed
      thead
        tr.table__tr
          th.table__th(width="100") Name
          th.table__th(width="80") Type
          th.table__th(width="180") Default
          th.table__th(width="200") Description
      tbody
        tr.table__tr
          td.table__td: strong vegaOptions
          td.table__td VegaOptions
          td.table__td 'Some defaults here'
          td.table__td Options to override vega defaults options
